body{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-variant-caps: small-caps;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
}

h2{
 
}

p{
    text-indent: 30px;
}